<html>
	<head>
		{% if title %}
		<title>{{ title }} - MicroBlog</title>
		{% else %}
		<title> Welcome to MicroBlog</title>
		{% endif %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	</head>
	<style>
		body{
			margin:100px;
		}
	</style>
	<body>
		<div>Microblog: 
			<a href="{{ url_for('index') }}">Дом</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('login') }}">Вход</a>
			{% else %}
			<a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
			<a href="{{ url_for('explore') }}"><i class="fas fa-eye"></i></a>
			<a href="{{ url_for('logout') }}">Сьебаться</a>
			{% endif %}
		</div>	
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>