{% extends 'base.html' %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
	
	<form action="" method="POST">
		{{ form.hidden_tag() }}
		<p>	
		<div class="form-group">
			{{ form.post.label }} <br>
			{{ form.post(cols=32, rows=4) }} <br>
			{% for error in form.post.errors %}
				<button class=" btn text-danger">[{{ error }}]</button>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
		</div>
	</form>

    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}